<%= render '/layouts/rails_layout' do %>
  <h1>
    <%= link_to "Admin", admin_root_path %> :: <%= @event.name %>
  </h1>

  <div class="text-center">
    <h3>
      Total Invited: <%= @event.invited_count %>
    </h3>
    <p>
      Yes: <%= @event.confirmed_count %>
    </p>
    <p>
      No: <%= @event.declined_count %>
    </p>
    <p>
      Maybe: <%= @event.unconfirmed_count %>
    </p>
  </div>

  <div class="row">
    <div class="column medium-2 hide-for-small">
      Email
    </div>
    <div class="column small-4 medium-3">
      Guest Name
    </div>
    <div class="column small-2 medium-1">
      +1
    </div>
    <div class="column small-2 medium-1">
      RSVP
    </div>
    <div class="column small-4 medium-2">
      +1 RSVP
    </div>
    <div class="column medium-3 hide-for-small end">
      +1 Name
    </div>
  </div>
  <% @event.attendees.sort_by { |a| [(a.rsvp ? 1 : 0), a.user.first_name] }.each do |attendee| %>
    <div class="row">
      <div class="column medium-2 hide-for-small">
        <span>
          <%= "#{attendee.email_count} - " %>
          <%= link_to 'send', admin_send_invite_email_path(attendee.id), method: :patch %>
        </span>
      </div>
      <div class="column small-4 medium-3">
        <%= attendee.user.fullname %>
      </div>
      <div class="column small-2 medium-1">
        <%= attendee.plus_one_invited %>
      </div>
      <div class="column small-2 medium-1">
        <%= (attendee.rsvp || 'N/A') %>
      </div>
      <div class="column small-4 medium-2 end">
        <%= (attendee.plus_one_attending || 'N/A') %>
      </div>
      <div class="column medium-3 hide-for-small end">
        <%= attendee.plus_one_fullname %>
      </div>
    </div>
  <% end %>
<% end %>
