<%= stylesheet_link_tag "foundation_and_overrides" %>
<%= stylesheet_link_tag "email" %>

<div id="email-container">
  <div class="row">
    <div class="small-8 columns text-panel">
      <h1 class="regular-italic-font">
        You are Invited!
      </h1>

      <br>
      <h3 class="regular-italic-font">
        to the <%= @event.name %> of
        <div class="name-text">
          Jesse Norris &
          <br>
          David Tengdin
        </div>
      </h3>

      <p class="invite-message">
        <%= @event.date.strftime("%m.%d.%Y") %>
        <br>
        <% if @event.time %>
          <%= @event.time %>
          <br>
        <% end %>
        <%= "#{@event.city}, #{@event.state}" %>
      </p>
      <div class="rsvp-section text-center">
        <a href=<%= email_confirmation_url(@attendee.to_param) %>>
          RSVP by clicking here!
        </a>
      </div>
      <p class="invite-message">
        Please RSVP (latest) by: <%= (@attendee.created_at + 1.month).strftime("%m.%d.%Y") %>
      </p>
    </div>
  </div>
</div>
